.multilevelpushmenu_wrapper {
    position: absolute;
    overflow: hidden;
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.multilevelpushmenu_wrapper .levelHolderClass {
    position: absolute;
    overflow: hidden;
    top: 0;
    background: white;
    width: auto;
    min-height: 100%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1em;
    zoom: 1;
}

.multilevelpushmenu_wrapper .ltr {
    margin-left: -100%;
    left: 0;
}

.multilevelpushmenu_wrapper .rtl {
    margin-right: -100%;
    right: 0;
}

.multilevelpushmenu_wrapper .ltr, .multilevelpushmenu_wrapper .rtl {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    filter: progid:DXImageTransform.Microsoft.Shadow(color=#1f4164,direction=270,strength=0);
}

.multilevelpushmenu_wrapper .multilevelpushmenu_inactive {
    background: white;
}

.multilevelpushmenu_wrapper h2 {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: bold;
    color: #333;
    padding: 0 .4em 0 .4em;
}

.multilevelpushmenu_wrapper ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.multilevelpushmenu_wrapper li.active {
    background: rgb(24, 81, 27);
}

.multilevelpushmenu_wrapper li.active:hover {
    background: rgb(24, 81, 27);
}

.multilevelpushmenu_wrapper li.active > a {
    color: white;
}

.multilevelpushmenu_wrapper li {
    cursor: inherit;
    border-top: none;
    padding: .4em .4em .4em .4em;
    position: relative;
}

.multilevelpushmenu_wrapper li:hover > .edit-button {
    visibility: visible;
}

.multilevelpushmenu_wrapper .edit-button {
    cursor: pointer;
    position: absolute;
    right: 8px;
    top: 4px;
    visibility: hidden;
    z-index: 200;
    width: auto;
}

.multilevelpushmenu_wrapper .form-control{
    font-size: 1.2em !important;
}

.multilevelpushmenu_wrapper li:last-child {
    border-bottom: none;
}

.multilevelpushmenu_wrapper li:hover {
    background-color: inherit;
}

.multilevelpushmenu_wrapper a {
    display: block;
    width: 85%;
    outline: none;
    overflow: hidden;
    font-size: 1.2em;
    line-height: 1em;
    padding: .2em .2em;
    text-decoration: none;
    color: #333;
    padding-left: 22px;
    text-overflow: ellipsis;
}

.multilevelpushmenu_wrapper a:hover {
    color: #333;
}

.multilevelpushmenu_wrapper .backItemClass {
    display: block;
    padding: .4em .4em .4em .4em;
    background: #2e6196;
    border-top: 1px solid #295685;
}

.multilevelpushmenu_wrapper .floatRight {
    float: right;
}

.multilevelpushmenu_wrapper .floatLeft {
    float: left;
}

.multilevelpushmenu_wrapper .cursorPointer {
    cursor: pointer;
}

.multilevelpushmenu_wrapper .iconSpacing_ltr {
    padding: 0 .4em 0 0;
}

.multilevelpushmenu_wrapper .iconSpacing_rtl {
    padding: 0 0 0 .4em;
}

.menu-toggle {
    position: relative;
    z-index: 1041;
    left: 0;
    display: block;
    float: left;
    height: 100%;
}

.menu-toggle a {
    color: #333 !important;
    top: 50%;
    padding: 10px;
    position: absolute;
}

.log-files {
    margin-top: 20px;
}

.log-files, .delete-batch {
    text-align: left;
    border: 0;
}

.log-files > a, .delete-batch > a{
    font-weight: bold;
    padding: .2em .2em;
}

.upload-preview-container-overlay {
    position: absolute;
    z-index: -1;
}

.upload-preview-container-overlay.in {
    z-index: 1040;
}