html, body{
    height:100%;
    font-family: 'Ubuntu', sans-serif;
    /*overflow: hidden;*/
}

#content-wrapper {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.logo {
    text-align: left;
    margin-left: 1.2em;
    position: relative;
    z-index: 100;
}
.logo h3 {
    margin-top: 10px;
}
.logo a{
    text-decoration: none;
    color: #4E749E;
    text-transform: lowercase;
    font-size: 1em;
}

#content {
    float: left;
    height: 100vh;
    position: relative;
    width: 100%;
}

#menu {
    -ms-opacity: 0.95;
    opacity: 0.95;
}

.menu-toggle {
    position: relative;
    z-index: 1041;
    left: 0;
    display: block;
    float: left;
    height: 100%;
}

.menu-toggle a {
    color: #333 !important;
    top: 45%;
    padding: 10px;
    position: absolute;
}

.upload-preview {
    text-align: center;
    float: left;
    width: 83%;
    padding: 3em 0em 0em 3em;
}

.upload-preview.uploading-multiple .asset{
    max-width: 30%;
    margin-bottom: 4em;
}

.upload-preview-inner {
    width: 100%;
    display: inline-block;
    position: relative;
}

.upload-preview-inner .asset {
    padding: 0 .5em .5em;
    font-weight: bold;
    display: inline-block;
    position: relative;
}

.upload-preview .close {
    position: absolute;
    z-index: 1000;
    left: .3em;
    top: -1em;
    font-size: 2em;
    padding: 0;
    line-height: 0.6em;
}

.upload-preview .filename {
    position: absolute;
    right: .5em;
    top: -2em;
    font-size: 1.2em;
}

.upload-preview.working img{
    opacity: .4;
}
.upload-preview.uploading-multiple .progress-container{
    bottom: -20%;
    top: auto;
    padding: 0 2%;
}

.upload-preview.uploading-multiple .progress {
    height: 20px;
}

.progress-container {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    padding: 0 5%;
    z-index: 100;
}

.progress-container .progress {
    height: 30px;
}

.inner-right-menu {
    right: 0;
    top: 0;
    position: absolute;
    height: 100vh;
    width: 17%;
    margin: 0;
    text-align: left;
    padding: 3% 4%;
}
.inner-right-menu > li {
    margin-bottom: 1em;
}

.inner-right-menu > li > a{
    font-weight: bold;
    font-size: 1.2em;
    width: 100%;
}

#fileupload {
    display: block;
    text-align: center;
    margin: 0 auto;
}

#dropzone {
    background: white;
    color: #333;
    text-align: center;
    font-weight: bold;
    border: 3px dashed #C9DBEF;
    padding: 8em;
    border-radius: 2em;
}
#dropzone i, #dropzone p {
    color: #C9DBEF;
}
#dropzone i {
    font-size: 1.4em;
    margin-bottom: 1em;
}
#dropzone p {
    font-size: 1.2em;
    margin-bottom: 0;
}
#dropzone.in {
}
#dropzone.hover {
    border: 5px dashed #54CD5A;
}
#dropzone.hover i, #dropzone.hover p {
    color: #54CD5A;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}

footer {
    padding: 1em;
    margin-top: 1em;
    position: absolute;
    bottom: 0;
}

footer ul {
    margin-bottom: 0;
}

footer ul > li {
    margin: 0 1em;
}

footer ul > li > a{
    color: #707070;
    font-size: .8em;
    font-weight: bold;
}

.demo-menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    margin-bottom: 1em;
    width: 100%;
    text-align: center;
    opacity: 0.2;
}

.demo-menu > li {
     margin: auto 1em;
 }

.demo-menu > li > a{
    color: #896132;
    text-transform: uppercase;
    font-size: .8em;
}


/*@media (min-width: 700px) and (max-width: 980px) {*/
    /*#fileupload {*/
        /*left: 38%;*/
    /*}*/
/*}*/

/*@media (max-width: 700px) {*/
    /*#fileupload {*/
        /*left: 32%;*/
    /*}*/
/*}*/