html, body{
    height:100%;
    font-family: 'Ubuntu', sans-serif;
    /*overflow: hidden;*/
}

#content-wrapper {
    padding-left: 0;
    padding-right: 0;
    position: relative;
    overflow: hidden;
    height: 100%;
}

.logo {
    text-align: left;
    margin-left: 1.2em;
}
.logo a{
    text-decoration: none;
    color: #4E749E;
    text-transform: lowercase;
    font-size: 1.1em;
}

#content {
    float: left;
    height: 100vh;
    position: relative;
    width: 100%;
}

#menu {
    -ms-opacity: 0.95;
    opacity: 0.95;
}

.upload-preview {
    /*width: 77.7%;*/
    /*margin-left: 40px;*/
    padding: 2em 20em 0em 3em;
}

.upload-preview .close {
    position: relative;
    z-index: 1000;
}

.upload-preview .filename {
    margin-right: 20px;
}

.preview-menu {
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 20%;
    background: gray;
    margin: 0;
}

.preview-menu > li > a {
    color: #FFF;
    display: block;
    padding: 5px 20px;
}

#fileupload {
    display: block;
    text-align: center;
    margin: 0 auto;
}

#dropzone {
    background: white;
    color: #333;
    text-align: center;
    font-weight: bold;
    border: 3px dashed #C9DBEF;
    padding: 8em;
    border-radius: 2em;
}
#dropzone i, #dropzone p {
    color: #C9DBEF;
}
#dropzone i {
    font-size: 2em;
    margin-bottom: 1em;
}
#dropzone p {
    font-size: 1.2em;
    margin-bottom: 0;
}
#dropzone.in {
    font-size: larger;
}
#dropzone.hover {
    background: #d3d3d3;
}
#dropzone.fade {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    opacity: 1;
}


@media (min-width: 700px) and (max-width: 980px) {
    #fileupload {
        left: 38%;
    }
}

@media (max-width: 700px) {
    #fileupload {
        left: 32%;
    }
}