footer {
//  padding: 1em;
//  margin-top: 1em;
  position: absolute !important;
  left: 0;
  bottom: 0;
  margin-bottom: 10px;

  ul.stats {
  }

  ul {
    margin-bottom: 0;
    text-align: center;

    li {
      margin: 0 1em;
      a {
        color: #707070;
        font-size: .8em;
        font-weight: bold;
      }
    }
  }
}