<nav>
    <h2>FILES</h2>
    <ul>
        <% _.each(files, function(file) { %>
        <li class="file-names">
            <a href="#" data-type="text" class="editable"><%= file.name %></a>
            <a href="#" class="edit-button">
                <i class="fa fa-edit"></i>
            </a>
        </li>
        <% }); %>

        <li class="log-files">
            <a href="#">LOG</a>
        </li>
        <li class="delete-batch">
            <a href="#" class="delete-batch-btn">DELETE BATCH</a>
        </li>
    </ul>

</nav>